.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.search-background {
  min-height: 100vh;
  background-color: #eef6fa;
}
